<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate | iClothes</title>
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/14cc9117fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="container-fluid header">
        <div class="row first-header">
            <div class="col-md-3">
                <p>Lima 1111, Buenos Aires.<br> Telefono 4555-4545</p>
            </div>
            <div class="col-md-3 social">
                <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="#"><i class="far fa-envelope fa-3x"></i></a>
            </div>
        </div>
    
        <div class="row main-header">
            <div class="col-md-2 col-lg-2 logo-search">
                <img src="/images/logo-tienda.PNG" alt="">
            </div>
            <div class="col-md-9 col-lg-9 search">
                <input type="search" placeholder="Busqueda Avanzada">
            </div>
        </div>
    
            <div class="row nav2">
            <div class="nav2-col">
                <ul class="filtro2">
                    <li><a href="#">Zapatillas</a></li>
                    <li><a href="#">Remeras</a></li>
                    <li><a href="#">Pantalones</a></li>
                    <li><a href="#">Vestidos</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niños</a></li>
                    <li><a href="#">Por talle</a></li>
                </ul>
                <ul class="user-nav">
                    <li><a href="#"><i class="fas fa-user"></i>  Usuario</a></li>
                    <li class="cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
    
                <i class="fas fa-bars" onclick="showFilter()">
                <ul class="filtro" style="display: none;">
                    <li><a href="#">Zapatillas</a></li>
                    <li><a href="#">Remeras</a></li>
                    <li><a href="#">Pantalones</a></li>
                    <li><a href="#">Vestidos</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niños</a></li>
                    <li><a href="#">Por talle</a></li>
                </ul>
            </i>
            </div>
        </div>
    </header>
   
	<div class="container">

		<div class="row">

			<div class="articulo col-md-12 col-lg-9">
				<div class="row">
					<h2>Detalle de la Compra</h2>
				</div>
				<div class="row">
					<div class="col">
						<img src="images/prenda1-detalle.PNG" alt="prenda" height="200px">
					</div>
					<div class="col">
						<section>
							<h5>Campera Puma deportiva</h5>
							<h5>Talle M</h5>
							<h5>Color Negro</h5>
						</section>
					</div>
					<div class="col">
						<h5>
							Cantidad
							<input type="number" min="1" max="99">
						</h5>
					</div>
					<div class="col">
						<section>
							<h2>$ 1850.99</h2>
							Envío Gratis
						</section>
					</div>
				</div>
				<div class="row">
					<a href="home"><button>Seguir Comprando</button></a>
					<a href="home"><button>Eliminar</button></a>
				</div>
			</div>
			
			<div class="resumen col-lg-3">
				<div class="row">
					<div class="col">
						<h5>Detalles de envío:</h5>
						<h5>Carlos Calvo 1575 CABA CP - 1925</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<h5>articulos (1)</h5>
						<h5>Envío</h5>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<h5>$ 1850.99</h5>
						<h5>Gratis</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<h4>Total</h4>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<h4>$ 1850.99</h4>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<a href="check out"><button type="submit">Check Out</button></a>
					</div>
				</div>
			</div>

		</div>

	</div>


	<!-- ***********  footer  ************   -->
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h3>Nuestras Tiendas</h3>
            <ul>
                <li>Avenida Acoyte 1234, Caballito, CP1234, Tel: 4123-5231/5875.</li>
                <li>Lima 1111 7mo Piso, Centro, CP3215. Tel: 4789-6578</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Redes Sociales</h3>
            <ul>
                <li><i class="fab fa-facebook "></i>Facebook.com/iClothes</li>
                <li><i class="fab fa-twitter "></i>Twitter.com/iClothes_oficial</li>
                <li><i class="fab fa-instagram "></i>Instagra.com/iClothes</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Sobre Nosotros</h3>
            <ul>
                <li><a href="#">Formas de pago</a></li>
                <li><a href="#">Envios a domicilio</a></li>
                <li><a href="#">Franquicias</a></li>
                <li><a href="#">Venta por mayor</a></li>
                <li><a href="#">Devoluciones</a></li>
            </ul>
        </div>


    </div>


    <div class="row footer2row">
        <div class="">
            <span style="font-size: 10px;"><i class="far fa-registered"></i> LaTienda Marca
                Registrada. Todos los derechos reservados. </span>
        </div>
    </div>
</footer>

</body>
</html>