<!-- ***********  footer  ************   -->

<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h3>Nuestras Tiendas</h3>
            <ul>
                <li>Avenida Acoyte 1234, Caballito, CP1234, Tel: 4123-5231/5875.</li>
                <li>Lima 1111 7mo Piso, Centro, CP3215. Tel: 4789-6578</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Redes Sociales</h3>
            <ul>
                <li><i class="fab fa-facebook "></i>Facebook.com/iClothes</li>
                <li><i class="fab fa-twitter "></i>Twitter.com/iClothes_oficial</li>
                <li><i class="fab fa-instagram "></i>Instagra.com/iClothes</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Sobre Nosotros</h3>
            <ul>
                <li><a href="#">Formas de pago</a></li>
                <li><a href="#">Envios a domicilio</a></li>
                <li><a href="#">Franquicias</a></li>
                <li><a href="#">Venta por mayor</a></li>
                <li><a href="#">Devoluciones</a></li>
            </ul>
        </div>


    </div>


    <div class="row footer2row">
        <div class="">
            <span style="color: grey; font-size: 10px;"><i class="far fa-registered"></i> LaTienda Marca
                Registrada. Todos los derechos reservados. </span>
        </div>
    </div>
</footer>