<!-- ***********  footer  ************   -->
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h3>Nuestras Tiendas</h3>
            <ul>
                <li>Avenida Acoyte 1234, Caballito, CP1234, Tel: 4123-5231/5875.</li>
                <li>Lima 1111 7mo Piso, Centro, CP3215. Tel: 4789-6578</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Redes Sociales</h3>
            <ul>
                <li><i class="fab fa-facebook "></i>Facebook.com/laTienda</li>
                <li><i class="fab fa-twitter "></i>Twitter.com/laTienda_oficial</li>
                <li><i class="fab fa-instagram "></i>Instagra.com/laTienda</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Sobre Nosotros</h3>
            <ul>
                <li><a href="#">Formas de pago</a></li>
                <li><a href="#">Envios a domicilio</a></li>
                <li><a href="#">Franquicias</a></li>
                <li><a href="#">Venta por mayor</a></li>
                <li><a href="#">Devoluciones</a></li>
            </ul>
        </div>


    </div>


    <div class="row footer2row">
        <div class="">
            <span style="font-size: 10px;"><i class="far fa-registered"></i> LaTienda Marca
                Registrada. Todos los derechos reservados. </span>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>