<%- include('../partials/headhtml', {pagecss: 'addProducts'}) %>

<body style="background-color: #EBEBEB;">
    
<%- include('../partials/adminheader') %>



    <section class="container-main">
        <form method="POST" action="/admin/agregar-producto" class="validar" enctype="multipart/form-data" novalidate>
        <div class="row mainDetails">
            <div class="titulo col-sm-10">
                <h2>CARGAR NUEVO PRODUCTO</h2>
                <hr>
            </div>
            
            <div class="col-sm-12 col-md-8 col-lg-7">
                
                    <div class="form-group">
                        <label for="title">Título publicación</label>
                        <input type="text" name="title" id="title" class="form-control " maxlength="65" required>
                        <small class="form-text text-muted">Hasta 65 caracteres</small>
                        <div class="invalid-feedback">
                            Debe ingresar un título.
                          </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <label for="price">Precio</label>
                            <div class="input-group mb-2 mr-sm-2 ">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" name="price" id="price" class="form-control" required>
                                <div class="invalid-feedback">
                                    Ingrese precio.
                                  </div>
                            </div>
                        </div>

                        
                        <div class="form-group col-sm-4 col-md-4">
                            <label for="shipping">Forma de entrega</label>
                            <select class="form-control" name="shipping" required>
                                <option value="Domicilio/Mostrador">Domicilio/Mostrador</option>
                                <option value="Envio a domicilio">Envio a domicilio</option>
                                <option value="Solo Mostrador">Solo Mostrador</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="initialAmount">Cant. Talle xl</label>
                            <input type="number" class="form-control" name="xlAmount" min="0" max="999" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="initialAmount">Cant. Talle l</label>
                            <input type="number" class="form-control" name="lAmount" min="0" max="999" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="initialAmount">Cant. Talle m</label>
                            <input type="number" class="form-control" name="mAmount" min="0" max="999" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="initialAmount">Cant. Talle s</label>
                            <input type="number" class="form-control" name="sAmount" min="0" max="999" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="initialAmount">Cant. Talle xs</label>
                            <input type="number" class="form-control" name="xsAmount" min="0" max="999" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="color">Color</label>
                            <input type="text" id="color" class="form-control" name="color" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="offerCode">Genera cod. promoción?</label>
                            <select name="offerCode" id="offerCode" class="form-control">
                                <option value="No">No</option>
                                <option value="Si">Si</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="discount">Descuento</label>
                            <div class="input-group mb-2 mr-sm-2">
                                <input type="text" class="form-control" name="discount">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row uploadImage align-items-end">
                        <div class="form-group col-sm-9">
                            <label for="uploadImage">Cargar Imagen 1</label>
                            <input type="file" class="form-control-file" name="uploadImage1" required>
                            <div class="invalid-feedback">
                                Debe ingresar por lo menos una imagen
                              </div>
                        </div>
                        <div class="form-group col-sm-9">
                            <label for="uploadImage">Cargar Imagen 2</label>
                            <input type="file" class="form-control-file" name="uploadImage2">
                        </div>
                        <div class="form-group col-sm-9">
                            <label for="uploadImage">Cargar Imagen 3</label>
                            <input type="file" class="form-control-file" name="uploadImage3">
                        </div>
                        <div class="form-group col-sm-9">
                            <label for="uploadImage">Cargar Imagen 4</label>
                            <input type="file" class="form-control-file" name="uploadImage4">
                        </div>
                        
                    </div>
            </div>
            <div class="row">
            <div class="preview col-md-12">
                <h4>Vista Previa</h4>
                <img src="/images/preview.png" alt="">
                <p>Seleccionar como Principal</p>
            </div>
        </div>
        </div>
        <div class="row mainDetails">
        <div class="titulo col-sm-10">
            <h2>DETALLES DE LA PRENDA</h2>
            <hr>
        </div>
        <div class="col-sm-8">
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="brand">Marca</label>
                    <input name="brand" type="text" class="form-control" required>
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="pocket">Bolsillos</label>
                    <input type="text" name="pocket" id="pocket" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="type-cloth">Tipo de prenda</label>
                    <input type="text" id="type-cloth" class="form-control" name="type_cloth">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="cloth">Tela</label>
                    <input type="text" name="cloth" id="cloth" class="form-control">
                </div>
            </div>

            <div class="form-row align-items-end">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="gender">Sexo</label>
                    <select class="form-control" name="gender" id="gender">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                        <option value="Unisex">Unisex</option>
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="fit">Fit</label>
                    <input type="text" name="fit" id="fit" class="form-control">
                </div>
            </div>
            <div clasS="form-row">
            <div class="form-group col-sm-12">
                <label for="description">Descripción de la prenda</label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="6" maxlength="150"></textarea>
                <small class="form-text text-muted">Hasta 150 caracteres</small>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </div>
        </form>
    </section>

    <footer class="container-fluid">

        <div class="row footer2row">
            <div class="">
                <span style="color: grey; font-size: 10px;"><i class="far fa-registered"></i> LaTienda Marca
                    Registrada. Todos los derechos reservados. </span>
            </div>
        </div>

    </footer>

    <script>
 (function() {
  'use strict';
  window.addEventListener('load', function() {
    
    var forms = document.getElementsByClassName('validar');

    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });

}, false);
})();

        function showFilter() {
            var menu = document.querySelector(".filtro");
            if (menu.style.display === "none") {
                menu.style.display = "inherit";
            }
            else {
                menu.style.display = "none";
            }
        }


    </script>

</body>

</html>