<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/addProducts.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/14cc9117fe.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body style="background-color: #EBEBEB;">
    <header class="container-fluid header">
        <div class="row first-header">
            <div class="col-md-3">
                <p>Lima 1111, Buenos Aires.<br> Telefono 4555-4545</p>
            </div>
            <div class="col-md-3 social">
                <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="#"><i class="far fa-envelope fa-3x"></i></a>
            </div>
        </div>

        <div class="row main-header">
            <div class="col-md-2 col-lg-2 logo-search">
                <img src="/images/logo-tienda.PNG" alt="">
            </div>
            <div class="col-md-9 col-lg-9 search">
                <input type="search" placeholder="Busqueda Avanzada">
            </div>
        </div>

        <div class="row nav2">
            <div class="nav2-col">
                <ul class="filtro2">
                    <li><a href="#">Agregar Producto</a></li>
                    <li><a href="#">Modificar Producto</a></li>
                    <li><a href="#">Gestion Usuarios</a></li>
                </ul>
                <ul class="user-nav">
                    <li><a href="#"><i class="fas fa-user"></i> Usuario</a></li>
                    <li class="cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>

                <i class="fas fa-bars" onclick="showFilter()">
                    <ul class="filtro" style="display: none;">
                        <li><a href="#">Agregar Producto</a></li>
                        <li><a href="#">Modificar Producto</a></li>
                        <li><a href="#">Gestion Usuarios</a></li>
                    </ul>
                </i>
            </div>
        </div>
    </header>





    <section class="container">
        <form>
        <div class="row mainDetails">
            <div class="titulo col-sm-10">
                <h2>CARGAR NUEVO PRODUCTO</h2>
                <hr>
            </div>
            
            <div class="col-sm-8">
                
                    <div class="form-group">
                        <label for="title">Título publicación</label>
                        <input type="text" name="title" id="title" class="form-control">
                        <small class="form-text text-muted">Hasta 65 caracteres</small>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <label for="price">Precio</label>
                            <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" name="price" id="price" class="form-control">
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="initialAmount">Cantidad inicial</label>
                            <input type="number" class="form-control" name="initialAmount" min="0" max="999">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="shipping">Forma de entrega</label>
                            <select class="form-control">
                                <option value="both">Domicilio/Mostrador</option>
                                <option value="domicilio">Envio a domicilio</option>
                                <option value="mostrador">Solo Mostrador</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="offerCode">Genera cod. promoción?</label>
                            <select name="offerCode" id="offerCode" class="form-control">
                                <option value="n">No</option>
                                <option value="y">Si</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="discount">Descuento</label>
                            <div class="input-group mb-2 mr-sm-2">
                                <input type="text" class="form-control">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row uploadImage align-items-end">
                        <div class="form-group col-sm-9">
                            <label for="uploadImage">Cargar Imagen</label>
                            <input type="file" class="form-control-file">
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="more-images"><strong style="text-decoration: underline;">Mas
                                    Imagenes</strong></label>
                        </div>
                    </div>
            </div>
            <div class="row">
            <div class="preview col-md-4">
                <h4>Vista Previa</h4>
                <img src="/images/preview.png" alt="">
                <p>Seleccionar como Principal</p>
            </div>
        </div>
        </div>
        <div class="row mainDetails">
        <div class="titulo col-sm-10">
            <h2>DETALLES DE LA PRENDA</h2>
            <hr>
        </div>
        <div class="col-sm-8">
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="brand">Marca</label>
                    <input name="brand" type="text" class="form-control">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="pocket">Bolsillos</label>
                    <input type="text" name="pocket" id="pocket" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="type-cloth">Tipo de prenda</label>
                    <input type="text" id="type-cloth" class="form-control" name="type-cloth">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="cloth">Tela</label>
                    <input type="text" name="cloth" id="cloth" class="form-control">
                </div>
            </div>

            <div class="form-row align-items-end">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="gender">Sexo</label>
                    <select class="form-control" name="gender" id="gender">
                        <option value="man">Hombre</option>
                        <option value="woman">Mujer</option>
                        <option value="unisex">Unisex</option>
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="fit">Fit</label>
                    <input type="text" name="fit" id="fit" class="form-control">
                </div>
            </div>
            <div clasS="form-row">
            <div class="form-group col-sm-12">
                <label for="description">Descripción de la prenda</label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="6"></textarea>
                <small class="form-text text-muted">Hasta 150 caracteres</small>
            </div>
        </div>
        </div>
    </div>
        </form>
    </section>

    <footer class="container-fluid">

        <div class="row footer2row">
            <div class="">
                <span style="color: grey; font-size: 10px;"><i class="far fa-registered"></i> LaTienda Marca
                    Registrada. Todos los derechos reservados. </span>
            </div>
        </div>

    </footer>

    <script>

        function showFilter() {
            var menu = document.querySelector(".filtro");
            if (menu.style.display === "none") {
                menu.style.display = "inherit";
            }
            else {
                menu.style.display = "none";
            }
        }
    </script>

</body>

</html>