section{
    margin-top: 10px;
}
.row.mainDetails {
    justify-content: center;
}

.form-row {
    align-items: baseline;
}
.more-images
{
    padding: 6px 6px 6px 0;
}
.more-images:hover
{
    color:lightslategrey;
    cursor: pointer;
}

.preview p:hover
{
    text-decoration: underline;
    color: mediumseagreen;
    cursor: pointer;
}