
footer
{
   margin-top: 20px;
   background-color: orange;    
   padding: 8px 15px 0 15px;
}
footer row
{
    justify-content: center;
}
.footer h3
{
    text-align: center;
}
footer li
{
    margin-top: 5px;
}

.footer2row
{
    background-color: #17a2b8;
    padding:5px;
    justify-content: center;
}
.footer2row span
{
    color: black;
}

