
html {

    height: 100% !important;

}
body
{
    min-height: 100% !important;
    position: relative !important;
}


footer
{
    position: absolute;
    bottom: 0;
   margin-top: 20px;
   background-color: darkslateblue;    
   padding: 8px 15px 0 15px;
   color:beige;
}
footer a
{
    color:beige;
}
footer row
{
    justify-content: center;
}
.footer h3
{
    text-align: center;
}
footer li
{
    margin-top: 5px;
}

.footer2row
{
    background-color:mediumslateblue;
    padding:5px;
    justify-content: center;
}
.footer2row span
{
    color: black;
}

@media(min-width:300px)
{
    body
    {
        padding-bottom: 550px;
    }
}

@media(min-width:763px)
{
    body
    {
        padding-bottom: 260px;
    }
}