*
{
    box-sizing: border-box;
}
a:hover
{
    text-decoration: none;
    color: black;
}
.title
{
    display: none;
}

section
{
    position: relative !important;
    height: 100% !important;
    margin-top: 15px;
}
.article
{
    padding:0 20px;
}
.article-image
{
   
    width: 80%;

}
.tachado
{
    display: none;
}

.article-image:hover .tachado 
{
    display: block;
}
.article-image:hover .title
{
    display: initial;
}
.item
{
    display: flex;
    
    flex-wrap: wrap;
    
    align-items: center;
    
    justify-content: center;
    
    
    background-color: white;
    margin: 5px 2px;
}
.row.article img
{
    width:100%;
}
.article-name p {
    text-align: center;
}
.article-name-cont
{
    padding-bottom: 10px;
}

.container-main
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:576px)
{
    .container-main
    {
        max-width:540px;
    }
}

@media(min-width:768px)
{
    .container-main
    {
        max-width:720px;
    }
}

@media(min-width:992px)
{
    .article
{
    flex-wrap: wrap;

}

.container-main
    {
        max-width:980px;
    }
}

@media(min-width:1140px)
{
    .container-main
    {
        max-width:1000px;
    }
}

@media(min-width:1200px)
{
    .container-main
    {
        max-width:1100px;
    }
}

@media(min-width:1500px)
{
    .container-main
    {
        max-width:1420px;
    }

    .article-image
    {
        max-width: 282px;
    }
}

