.buyitem {
    background-color:  white;
    padding: 10px 15px 0 15px;
    border-radius: 10px;

}

.talle {
    margin-bottom: 15px;
}
.miniatura {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 15px;
}
.miniatura img
{
    max-width: 100px;
}

.main-image {

    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.productdetail
{
    margin-top: 15px;
}



@media(min-width:576px)
{
    .miniatura
    {
        display: flex;
align-items: unset;
flex-direction: column-reverse;
    }

    .main-image img {

        width: 80%;
    
    }
}

@media(min-width:992px)
{
    .miniatura img {
        margin-left: 28px;
        border: 1px solid 
        gray;
    }
}

@media(min-width:1200px)
{
    .miniatura img {
        margin-left: 50px;
        border: 1px solid 
        gray;
    }
}



