/* --- css formulario-registro.html --- */

.container {
  border: solid 1px red;
}

[class*=col] {
  border: solid 1px yellow;
}

.crear-cuenta h2 {
  margin: auto;
  margin-top: 10px;
}

.datos-personales {
  padding: 25px;
}

.datos-personales form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}