<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/14cc9117fe.js" crossorigin="anonymous"></script>
    <title>LaTienda - Indumentaria para vos</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8"></div>
                <div class="col-2"></div>
            </div>
            <div class="row nav1">

                <div class="col-2">

                </div>
                <div class="col-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <div class="logo">
                                    <a href="#"><img src="/images/logo-tienda.PNG" alt=""></a>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="title"><img src="/images/title-banner.png"
                                        alt="Latienda - Indumentaria para vos" srcset=""></div>
                            </div>

                            <div class="col-3">
                                <div class="title-dir">
                                    <p>Lima 1111, Buenos Aires.<br> Telefono 4555-4545</p>
                                </div>

                                <div class="social-logo">
                                    <i class="fab fa-instagram fa-3x"></i>
                                    <i class="fab fa-facebook fa-3x"></i>
                                    <i class="far fa-envelope fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">



                    </div>
                </div>
            </div>



            <div class="row nav2">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="container">
                        <div class="row">
                            <!-- <div class="container"> -->
                            <div class="col-6">
                                <ul class="nav">
                                    <li><a href="#">Zapatillas</a></li>
                                    <li><a href="#">Remeras</a></li>
                                    <li><a href="#">Pantalones</a></li>
                                    <li><a href="#">Vestidos</a></li>
                                    <li><a href="#">Hombre</a></li>
                                    <li><a href="#">Mujer</a></li>
                                    <li><a href="#">Niños</a></li>
                                    <li><a href="#">Por talle</a></li>
                                </ul>
                            </div>
                            <div class="col-3 busqueda">
                                <input type="search" placeholder="Busqueda Avanzada">
                            </div>
                            <div class="col-3 nav-icons fa-1x">

                                <a href="#"><i class="fas fa-shopping-cart"> (0)</i></a>

                                <a href="#"><i class="fas fa-user"> Usuario</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-2"></div>
        </div>


        </div>
    </header>
    <section>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-12 banner">
                        <img src="/images/banner1.PNG" alt="" srcset="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 subtitle">
                        <h1>Productos Recientes</h1>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <div class="card">
                            <img src="/images/prenda1.png" alt="" srcset="">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card">
                            <img src="/images/prenda2.png" alt="" srcset="">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card">
                            <img src="/images/prenda3.png" alt="" srcset="">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card">
                            <img src="/images/prenda4.png" alt="" srcset="">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-12 banner">
                        <img src="/images/banner2.PNG" alt="" srcset="">
                    </div>
                </div>
            </div>
        </article>
    </section>

    <footer>
        <div class="container">
            <div class="row main-foot">
                <div class="col-2 footer-part">
                    <h2>Nuestras tiendas</h2>
                    <p>
                        Avenida Acoyte 1234,<br>
                        Caballito, CP1234.<br>
                        Tel: 4123-5231/5875<br><br>
                        Lima 1111 7mo Piso,<br>
                        Centro, CP3215.<br>
                        Tel: 4789-6587</p>
                </div>
                <div class="col-2 footer-part">
                    <h2>Redes Sociales</h2>
                    <p>
                        Facebook.com/LaTienda<br><br>
                        Twitter.com/LaTiendaOnline<br><br>
                        Instagram.com/latienda
                    </p>
                </div>

                <div class="col-2 footer-part">
                    <h2>Sobre Nosotros</h2>
                    <ul>
                        <li><a href="#">Formas de pago</a></li>
                        <li><a href="#">Envios a domicilio</a></li>
                        <li><a href="#">Franquicias</a></li>
                        <li><a href="#">Venta por mayor</a></li>
                        <li><a href="#">Devoluciones</a></li>
                        <li><a href="#">Faq.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 subtitle" style="background-color:#1F374A;">
                    <p style="color: grey;"><i class="far fa-registered"></i> LaTienda Marca
                        Registrada. Todos los derechos reservados. </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>