<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate | iClothes</title>
     <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row crear-cuenta">

            <div class="col-12">
        </div>
                <h2>Crear Cuenta</h2>
            </div>

            <div class="row datos-personales">

                <div class="col-12">
                    <form action="pagina a donde va a ir">
                    <br><p>Nombre</p><input type="text" name="Nombre"><br><br>
                    <p>Apellido</p><input type="text" name="Apellido"><br><br>
                    <p>Email</p><input type="text" name="Email"><br><br>
                    <p>Contraseña</p><input type="password" name="Contraseña"><br><br>
                    <p>Repetir contraseña</p><input type="password" name="Repetir Contraseña"><br><br>
                    <input type="submit" value="Crear cuenta">
                    </form><br>
                </div>


            </div>
    </div>
</body>

</html>