<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate | iClothes</title>
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row crear-cuenta">

            <div class="col-12">
            </div>
            <h2>Crear Cuenta</h2>
        </div>

        <div class="row datos-personales">

            <div class="col-12">
                <form action="pagina a donde va a ir">

                    <br>
                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" id="Nombre" class="form-control" required>
                    </div><br><br>

                    <div class="form-group">
                        <label for="Apellido">Apellido</label>
                        <input type="text" id="Apellido" class="form-control" required>
                    </div><br><br>

                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" id="Email" class="form-control" required>
                    </div><br><br>

                    <div class="form-group">
                        <label for="Contraseña">Contraseña</label>
                        <input type="password" id="Contraseña" class="form-control" required>
                    </div><br><br>

                    <div class="form-group">
                        <label for="Repetir Contraseña">Repetir Contraseña</label>
                        <input type="password" id="Repetir Contraseña" class="form-control" required>
                    </div><br><br>
                    <input type="submit" value="Crear cuenta">
                </form><br>
            </div>


        </div>
    </div>
</body>

</html>