<header class="container-fluid header">
    <div class="row first-header">
        <div class="col-md-3">
            <p>Lima 1111, Buenos Aires.<br> Telefono 4555-4545</p>
        </div>
        <div class="col-md-3 social">
            <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
            <a href="#"><i class="far fa-envelope fa-3x"></i></a>
        </div>
    </div>

    <div class="row main-header">
        <div class="col-md-2 col-lg-2 logo-search">
            <a href="/"><img src="/images/logo-tienda.png" alt=""></a>
        </div>
        <div class="col-md-9 col-lg-9 search">
            <input type="search" placeholder="Busqueda Avanzada">
        </div>
    </div>

        <div class="row nav2">
        <div class="nav2-col">
            <ul class="filtro2">
                <li><a href="#">Zapatillas</a></li>
                <li><a href="#">Remeras</a></li>
                <li><a href="#">Pantalones</a></li>
                <li><a href="#">Vestidos</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Niños</a></li>
                <li><a href="#">Por talle</a></li>
            </ul>
            <ul class="user-nav">
                <li><a href="/login"><i class="fas fa-user"></i>  Usuario</a></li>
                <li class="cart"><a href="/carrito"><i class="fas fa-shopping-cart"></i>  (<%=carrito.length%>)</a></li>
            </ul>

            <i class="fas fa-bars" onclick="showFilter()">
            <ul class="filtro" style="display: none;">
                <li><a href="#">Zapatillas</a></li>
                <li><a href="#">Remeras</a></li>
                <li><a href="#">Pantalones</a></li>
                <li><a href="#">Vestidos</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Niños</a></li>
                <li><a href="#">Por talle</a></li>
            </ul>
        </i>
        </div>
    </div>
</header>