<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="/css/style2.css">
    <script src="https://kit.fontawesome.com/14cc9117fe.js" crossorigin="anonymous"></script>
    <title>LaTienda - Indumentaria para vos</title>
</head>
<body>
    <header class="container">
        <div class="row">
            <div class="row header">
            <div class="col header-dir">
                    <p>Lima 1111, Buenos Aires.<br> Telefono 4555-4545</p>
            </div>
            <div class="col social-links">
                <i class="fab fa-instagram fa-3x"></i>
                <i class="fab fa-facebook fa-3x"></i>
                <i class="far fa-envelope fa-3x"></i>
            </div>
        </div>
            <div class="row logo">
                <div class="logo-search">
                    <img src="/images/logo-tienda.PNG" alt="">
                
                
                    <input type="search" placeholder="Busqueda Avanzada">
                </div>
            </div>
            <div class="row nav-sections">
                <div class="">
                    <ul class="nav">
                        <li><a href="#">Zapatillas</a></li>
                        <li><a href="#">Remeras</a></li>
                        <li><a href="#">Pantalones</a></li>
                        <li><a href="#">Vestidos</a></li>
                        <li><a href="#">Hombre</a></li>
                        <li><a href="#">Mujer</a></li>
                        <li><a href="#">Niños</a></li>
                        <li><a href="#">Por talle</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="container">
    <div class="row article">
        <div class="article-image">
            <img src="/images/prenda1.png" alt="" srcset="">
            <hr>
            <div class="row article-name-cont">
                <div class="article-name">
                    <p>BUZO NEGRO DE VESTIR LINDO</p>
                    <p>$150.40</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row article">
            <div class="article-image">
                <img src="/images/prenda2.png" alt="" srcset="">
                <hr>
                <div class="row article-name-cont">
                    <div class="article-name">
                        <p>BUZO NEGRO DE VESTIR LINDO</p>
                        <p>$150.40</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row article">
                <div class="article-image">
                    <img src="/images/prenda3.png" alt="" srcset="">
                    <hr>
                    <div class="row article-name-cont">
                        <div class="article-name">
                            <p>BUZO NEGRO DE VESTIR LINDO</p>
                            <p>$150.40</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row article">
                    <div class="article-image">
                        <img src="/images/prenda4.png" alt="" srcset="">
                        <hr>
                        <div class="row article-name-cont">
                            <div class="article-name">
                                <p>BUZO NEGRO DE VESTIR LINDO</p>
                                <p>$150.40</p>
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <footer class="container">
        <div class="row">
            <div class="">
                <h3>Nuestras Tiendas</h3>
                <ul>
                    <li>Avenida Acoyte 1234, Caballito, CP1234, Tel: 4123-5231/5875.</li>
                    <li>Lima 1111 7mo Piso, Centro, CP3215. Tel: 4789-6578</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="">
                <h3>Redes Sociales</h3>
                <ul>
                    <li><i class="fab fa-facebook "></i>Facebook.com/iClothes</li>
                    <li><i class="fab fa-twitter "></i>Twitter.com/iClothes_oficial</li>
                    <li><i class="fab fa-instagram "></i>Instagra.com/iClothes</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="">
                <h3>Sobre Nosotros</h3>
                <ul>
                    <li><a href="#">Formas de pago</a></li>
                    <li><a href="#">Envios a domicilio</a></li>
                    <li><a href="#">Franquicias</a></li>
                    <li><a href="#">Venta por mayor</a></li>
                    <li><a href="#">Devoluciones</a></li>
                </ul>
            </div>
        </div>

        </div>

    </footer>
    <div class="container footer2">
    <div class="row footer2row">
            <div class="">
                    <span style="color: grey; font-size: 10px;"><i class="far fa-registered"></i> LaTienda Marca
                        Registrada. Todos los derechos reservados. </span>
            </div>
        </div>
</body>
</html>